.ll{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #00ff7f;
}
.od{
    padding: 2rem;
    background-color: #2f2f2f;
    color: #90ee90;
    min-height: 100vh;
}
.id{
    background-color: #444;
    padding: 1rem;
    border-radius: 8px;
    color: #90ee90;
    border: 1px solid #00ff7f;
    margin: 10px;
}
.but1{
    height: 40px;
    width: 120px;
    font-size: 15px;
    border-radius: 10px;
    border-color: #00ff7f;
    background-color: #00ff7f;
    border-style: none;
    color: rgb(57, 58, 59);
    font-weight: 700;
}
.but1:hover{
    background-color: darkgrey ;
    color: #00ff7f;
    cursor: pointer;
}